# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/public/
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

/config/database.yml
.env
/coverage/
output.html
.rake_tasks~
.rubocop.yml
