.general-text-align.mb-60
  %p.in-gold-500.font-18 Order Summary
  %table.general-summary-table
    %tr
      %td
        %p.font-16 Item Total:
      %td
        %p.font-16= price_format(@order.subtotal)
    %tr
      %td
        %p.font-16 Order Total:
      %td
        %p.font-16= price_format(@order.total_items)
