%tr
  %td
    %p.font-16 Subtotal:
  %td
    %p.font-16= price_format(@order.total_items)
%tr
  %td
    %p.font-16 Coupon:
  %td
    %p.font-16= price_format(@order.coupon_discount)
%tr
  %td
    %p.font-16 Shipping:
  %td
    %p.font-16= price_format(@order.delivery_price)
%tr
  %td
    %p.font-16 Total:
  %td
    %p.font-16= price_format(@order.pre_total_price)
